# local package
-e .

# Some useful, but optional packages, mostly for formatting
# black
# isort
# pylint
# pipreqs

# Data science packages
# numpy
# matplotlib
# scikit-learn
# scipy

# Testing
# pytest
